[Unit]
Description=dhcpy6d DHCPv6 server daemon
After=network.target

[Service]
Type=forking

User=dhcpy6d
Group=dhcpy6d

ExecStart=/usr/sbin/dhcpy6d /etc/dhcpy6d.conf

[Install]
WantedBy=multi-user.target
