[Desktop Entry]
Name=RemoteBox
Version=1.0
Comment=VirtualBox Remote Client
Exec=remotebox
Terminal=false
Icon=remotebox.png
Type=Application
Categories=Emulator;System;Application;
